h1 {
    color: red;
    text-align: center;
}

.navbar-custom {
    background-color: grey;
    color: white;
}



button {
    color:blueviolet;
    font:"times";
}
button:hover {
    background-colour: orange;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Abel', sans-serif !important;
}

